In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Few Notebooks

https://github.com/EssamQabel/Analyzing-Rhode-Island-Police-Activity

https://github.com/BenceToth/dc_police-activity

In [8]:
ri = pd.read_csv('C:/Users/Chaitanya/Desktop/ML - Coursera/DataCamp/Projects/Analyzing Police Activity/Police stops in Rhode Island.csv')
ri.head()

,state,stop_date,stop_time,county_name,driver_gender,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,district
0,RI,2005-01-04,12:55,NaN,M,White,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False,Zone X4
1,RI,2005-01-23,23:15,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
2,RI,2005-02-17,04:15,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X4
3,RI,2005-02-20,17:15,NaN,M,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False,Zone X1
4,RI,2005-02-24,01:20,NaN,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X3

In [9]:
#Initial Analysis
print(ri.shape)
ri.isnull().sum()

(91741, 15)

state                     0
stop_date                 0
stop_time                 0
county_name           91741
driver_gender          5205
driver_race            5202
violation_raw          5202
violation              5202
search_conducted          0
search_type           88434
stop_outcome           5202
is_arrested            5202
stop_duration          5202
drugs_related_stop        0
district                  0
dtype: int64

In [10]:
# Drop the 'county_name' and 'state' columns
ri.drop(['county_name', 'state'], axis='columns', inplace=True)
print(ri.isnull().sum())

stop_date                 0
stop_time                 0
driver_gender          5205
driver_race            5202
violation_raw          5202
violation              5202
search_conducted          0
search_type           88434
stop_outcome           5202
is_arrested            5202
stop_duration          5202
drugs_related_stop        0
district                  0
dtype: int64

In [11]:
# Drop all rows that are missing 'driver_gender'
ri.dropna(subset=['driver_gender'], inplace=True)
print(ri.isnull().sum())

stop_date                 0
stop_time                 0
driver_gender             0
driver_race               0
violation_raw             0
violation                 0
search_conducted          0
search_type           83229
stop_outcome              0
is_arrested               0
stop_duration             0
drugs_related_stop        0
district                  0
dtype: int64

In [12]:
ri.drop(['search_type'], axis='columns', inplace=True)
print(ri.isnull().sum())

stop_date             0
stop_time             0
driver_gender         0
driver_race           0
violation_raw         0
violation             0
search_conducted      0
stop_outcome          0
is_arrested           0
stop_duration         0
drugs_related_stop    0
district              0
dtype: int64

### No missing values in the dataset

In [14]:
ri.head()

,stop_date,stop_time,driver_gender,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop,district
0,2005-01-04,12:55,M,White,Equipment/Inspection Violation,Equipment,False,Citation,False,0-15 Min,False,Zone X4
1,2005-01-23,23:15,M,White,Speeding,Speeding,False,Citation,False,0-15 Min,False,Zone K3
2,2005-02-17,04:15,M,White,Speeding,Speeding,False,Citation,False,0-15 Min,False,Zone X4
3,2005-02-20,17:15,M,White,Call for Service,Other,False,Arrest Driver,True,16-30 Min,False,Zone X1
4,2005-02-24,01:20,F,White,Speeding,Speeding,False,Citation,False,0-15 Min,False,Zone X3

After initial analysis you can see that the 'search_conducted', 'is_arrested' & 'drugs_related_stop' columns may contain True/False values and driver_gender may contain M/F values and 'driver_race' contains related to race. 
We will find unique value in every of the above columns and convert them to categorical or boolean data type wherever feasible.

In [16]:
print(ri.is_arrested.dtype)
print(ri.is_arrested.unique())

object
[False True]

In [18]:
# Change the data type of 'is_arrested' to 'bool'
ri['is_arrested'] = ri.is_arrested.astype('bool')
print(ri.is_arrested.dtype)

bool

In [19]:
print(ri.search_conducted.dtype)
print(ri.search_conducted.unique())

bool
[False  True]

In [20]:
# Change the data type of 'search_conducted' to 'bool'
ri['search_conducted'] = ri.search_conducted.astype('bool')
print(ri.search_conducted.dtype)

bool

In [21]:
print(ri.drugs_related_stop.dtype)
print(ri.drugs_related_stop.unique())

bool
[False  True]

In [22]:
# Change the data type of 'drugs_related_stop' to 'bool'
ri['drugs_related_stop'] = ri.drugs_related_stop.astype('bool')
print(ri.drugs_related_stop.dtype)

bool

In [30]:
# We can to all the above process in a single run
print(ri[['is_arrested', 'search_conducted', 'drugs_related_stop']].dtypes)
print(pd.unique(ri[['is_arrested', 'search_conducted', 'drugs_related_stop']].values.ravel()))

is_arrested           bool
search_conducted      bool
drugs_related_stop    bool
dtype: object
[False  True]

In [34]:
# Concatenate 'stop_date' and 'stop_time' (separated by a space)
combined = ri.stop_date.str.cat(ri['stop_time'], sep=" ")

# Convert 'combined' to datetime format
ri['stop_datetime'] = pd.to_datetime(combined)

ri.dtypes

stop_date                     object
stop_time                     object
driver_gender                 object
driver_race                   object
violation_raw                 object
violation                     object
search_conducted                bool
stop_outcome                  object
is_arrested                     bool
stop_duration                 object
drugs_related_stop              bool
district                      object
stop_datetime         datetime64[ns]
dtype: object

In [35]:
# Set 'stop_datetime' as the index
ri.set_index('stop_datetime', inplace=True)

In [36]:
ri.head(3)

,stop_date,stop_time,driver_gender,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,
2005-01-04 12:55:00,2005-01-04,12:55,M,White,Equipment/Inspection Violation,Equipment,False,Citation,False,0-15 Min,False,Zone X4
2005-01-23 23:15:00,2005-01-23,23:15,M,White,Speeding,Speeding,False,Citation,False,0-15 Min,False,Zone K3
2005-02-17 04:15:00,2005-02-17,04:15,M,White,Speeding,Speeding,False,Citation,False,0-15 Min,False,Zone X4

In [38]:
#We can drop stop_date and stop_time columns
ri.drop(['stop_date', 'stop_time'], axis='columns', inplace=True)

In [41]:
print(ri[['driver_gender', 'driver_race']].dtypes)
print(pd.unique(ri[['driver_gender', 'driver_race']].values.ravel()))

driver_gender    object
driver_race      object
dtype: object
['M' 'White' 'F' 'Asian' 'Black' 'Hispanic' 'Other']

In [44]:
# Create a DataFrame of female drivers
female = ri[ri.driver_gender == 'F']

# Create a DataFrame of male drivers
male = ri[ri.driver_gender == 'M']

# Compute the violations by female drivers (as proportions)
print(female.violation.value_counts(normalize=True))

# Compute the violations by male drivers (as proportions)
print(male.violation.value_counts(normalize=True))

Speeding               0.658114
Moving violation       0.138218
Equipment              0.105199
Registration/plates    0.044418
Other                  0.029738
Seat belt              0.024312
Name: violation, dtype: float64
Speeding               0.522243
Moving violation       0.206144
Equipment              0.134158
Other                  0.058985
Registration/plates    0.042175
Seat belt              0.036296
Name: violation, dtype: float64

In [51]:
# Female that are arrested
f_arrest = ri[(ri.driver_gender == 'F') & (ri.is_arrested == True)]
f_speed = ri[(ri.driver_gender == 'F') & (ri.violation == 'Speeding')]
print(f_arrest.shape)
print(f_speed.shape)

(669, 10)
(15646, 10)

In [52]:
# Compute the stop outcomes for female drivers (as proportions)
print(f_speed.stop_outcome.value_counts(normalize = True))

Citation            0.952192
Warning             0.040074
Arrest Driver       0.005752
N/D                 0.000959
Arrest Passenger    0.000639
No Action           0.000383
Name: stop_outcome, dtype: float64